{% extends 'base.html' %}

{% block title %}
    Список продуктов
{% endblock %}

{% block header_title %}
    Список продуктов
{% endblock %}

{% block content %}
    <table class="table text-center table-bordered table-sm align-middle">
        <thead class="bg-warning">
        <tr>
            <th style="width: 50px">№</th>
            <th>Название</th>
            <th>Кол-во использования</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.usage_quantity }}</td>
                <td>
                    <a href="{% url 'app:show_recipes_without_product' product.id %}">
                        Рецепты без или <10гр.: "{{ product.name }}"
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}